.trng-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2147483646;
  pointer-events: none;

  svg {
    opacity: 0;
    transition: opacity 500ms;
    pointer-events: none;
  }

  &.trng-active {
    pointer-events: all;

    svg {
      opacity: 1;
    }
  }
}
